$foregroundColour:#DCDCDC;


.post {
    background-color: #151820;
    color: $foregroundColour;
    width:87%;
    text-align: left;
    margin-top: 24px;
    .post-image {
        width:100%;
        height:30%;
        margin:auto;
        object-fit: cover;
    }

    .profile-picture{
        width:15%;
        border-radius: 50%;
        border: 2px solid $foregroundColour;
        margin:  0 0 0 10px;
    }

    .post-text{
        padding: 16px;
    }

    .post-name {
        font-weight:600;
        font-size:16px;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: #2985FF;
            cursor: pointer;
        }
    }

    .post-username{
        font-weight:600;
        font-size:14px;
        margin-bottom: 0;
    }

    .post-date{
        font-weight: 300;
        font-size: 10px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .post-message{
        font-weight: 400;
        font-size: 14px;
    }
}